body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.foot-content {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-height: 300px) {
    .foot-content {
        display:none;
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.login-box {
    margin-left: auto;
    margin-right: auto;
}

    .login-box input[type=submit] {
        width: 80px;
    }

@media screen and (min-width: 320px) {
    .login-box {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .login-box {
        width: 200px;
    }
}

/*sidebar*/
.sidebar-container {
    margin-left: 0;
    padding-left: 0;
}

.side-bar {
    position: fixed;
    height: 100%;
    width: 100px;
}
