@using CQX.ServiceContract.Models
@{
    List<ModuleModel> modules = ViewBag.Modules;
}
@if (modules != null)
{
    <div class="navbar navbar-default menu-content">
        <div class="navbar-collapse collapse container">
            <ul class="nav navbar-nav">
                @foreach (var m in modules)
                {
                    <li class="dropdown">
                        <a href="@Url.Action("Index", m.Controller)" class="dropdown-toggle" data-toggle="dropdown">
                        @m.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}